@use "../../styles/mixins" as *;
@use "../../styles/variables" as variable;

.main {
    display: flex;
    gap: 3rem;

    .imgContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 10 1px;
        position: sticky;
        top: 6rem;
        min-width: 180px;
        height: 60vh;
        transform: translateX(20%);

        @include respond(lg) {
            flex-grow: 0.7;
            transform: translateX(0);
        }
    }

    .content {
        flex: 1 1 auto;
        max-width: 780px;
        width: 100%;
        overflow-x: hidden;

        .title {
            margin-block-start: 4rem;
            font-size: variable.$fs-fluid-4;
            text-transform: capitalize;
            font-weight: 500;
            color: variable.$text-light;
            letter-spacing: 1px;
        }

        .skillsetWrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            @include respond(md) {
                justify-content: center;
            }
        }
    }

    @include respond(md) {
        flex-direction: column;

        .imgContainer {
            position: relative;
            top: 0;
        }
    }
}
