*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
html {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    background-size: cover;
    background-position: bottom;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    color: #f0f0f0;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: 1px 16px 14px -4px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 1px 16px 14px -4px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 1px 16px 14px -4px rgba(0, 0, 0, 0.75) inset;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
    cursor: pointer;
}
