@use "../../styles/variables" as variable;
@use "../../styles//mixins" as *;

.footer {
    height: 60px;
    max-width: variable.$width-xxl;
    margin-inline: auto;
    padding: 1rem;
    color: variable.$text-grey;
    font-size: variable.$fs-xs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid variable.$border;

    .name {
        color: variable.$secondary;
    }

    .socialLinks {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        svg {
            width: variable.$fs-lg;
            height: fit-content;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
                fill: variable.$secondary;
            }
        }
    }

    @include respond(sm) {
        flex-direction: column;
        gap: 1rem;
        margin-block-end: 3rem;
        text-align: center;
    }
}
