@use "../../styles/mixins" as *;

.carouselWrapper {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 25rem;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    .carouselTrack {
        display: flex;
        height: 100%;
        width: 100%;

        .slide {
            position: relative;
            flex: 0 0 100%;
            height: 100%;

            .image {
                object-fit: cover;
                transition: all 0.3s ease;
                cursor: pointer;
                filter: opacity(0.9);

                &:hover {
                    transform: scale(1.1);
                    filter: opacity(1);
                }
            }
        }
    }

    @include respond(md) {
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }

    @include respond(sm) {
        height: 17rem;
    }
}
