// Color Palette
$bg-dark: #000000;
$text-light: #f0f0f0;
$text-grey: #959595;
$primary: #0d483c;
$secondary: #08a97c;
$border: #3f3f3f;

// Fonts
$font-main: "Poppins", sans-serif;

// Font Sizes
$fs-xxs: 0.75rem; // 12px
$fs-xs: 0.875rem; // 14px
$fs-sm: 1rem; // 16px
$fs-md: 1.25rem; // 20px
$fs-lg: 1.5rem; // 24px
$fs-xl: 2rem; // 32px
$fs-xxl: 3rem; // 48px
$fs-hero: 4rem; // 64px

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;

// #1c1c22
// #00ff99
// #00e187
// #08a97c
// #0d483c
