@use "../../styles/mixins" as *;

.marqueeWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-block-end: 3rem;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );

    .marqueeContent {
        display: flex;
        gap: 3rem;
        will-change: transform;
        padding-block: 2rem;
        width: max-content;
        flex-shrink: 0;

        .iconContainer {
            img {
                cursor: pointer;
            }
        }
    }
}
